<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Expense</title>
  <!-- Latest compiled and minified CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="static/css/style.css" />
</head>

<body class="expense-background">
  <!--Main Navigation-->
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Expense Tracker</span>
                </a>

                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Expense</button>
                <ul  class="nav nav-pills flex-column mt-4 mb-sm-auto mb-0  align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{{url_for('dashBoard')}}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">DashBoard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"  class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Expenses</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Wallet</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Logout</span> </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div style="display:flex; justify-content:space-around; " class="col py-3">
            {% for expense in expenses %}

            <div class="card" style="width: 18rem; height: 15rem;">
                <div class="card-body">
                  <h5 style="border-bottom:1px solid gray ;" class="card-title">{{expense.TITLE}}</h5>
                  <p class="card-text">{{expense.DESCRIPTION}}</p>
                  <p  class="card-text">{{expense.AMOUNT}}</p>
                  <p class="card-text">{{expense.EXPENSETYPE}}</p>
                </div>
              </div>
              {% endfor %}
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{url_for('expense') }}" method="post">
                <div class="form-group">
                  <label for="title" class="col-sm-2 col-form-label">Title</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Enter the Title">
                  </div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                    <textarea name= "description" class="form-control"id="Description" rows="2"></textarea>
                    </div>
                  </div>
                
                <div class="form-group">
                  <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                  <div class="col-sm-10">
                    <input name="Amount" type="number" class="form-control" id="amount" placeholder="Enter the Amount">
                  </div>
                </div>

                <div class="form-group">
                    <label for="amount" class="col-sm-3 col-form-label">Expense Type</label>

                    <div class="col-sm-9">
                     
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Housing">
                        <label class="form-check-label" for="exampleRadios1">
                          Housing
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Transportation">
                        <label class="form-check-label" for="exampleRadios2">
                            Transportation
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Food">
                        <label class="form-check-label" for="exampleRadios2">
                            Food
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="Utilities">
                        <label class="form-check-label" for="exampleRadios2">
                            Utilities
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
        </div>
        
      </div>
    </div>
  </div>
<!--Main Navigation-->
</body>
</html>